<a href="https://colab.research.google.com/github/ashwin-udhayakumar/ash/blob/master/ml_nltkbasics01_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
rawData=open("/SMSSpamCollection.tsv").read()#open the required file ,meanwhile it should be already uploaded in the current directory of the colab and open using .read() function
rawData[0:500]                               #randomly open the 500 words present in the rawdata for to check whether it is working or not

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [0]:
parsedData=rawData.replace('\t','\n').split('\n')#for the parsed data we have to replate \t by \n and split each of the word or sentence by split() function

In [0]:
parsedData[0:5]#randomly checking parsedData work or not

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [0]:
labelList=parsedData[0::2]#enter the set of values to labelList by incrementing two by each for even out
textList=parsedData[1::2]#enter the set of values to textList by incrementing two by each for odd out

In [0]:
print(labelList[0:5])#whether to check if it is work or not by printing the values
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [67]:
import pandas as pd #the need of full info(alias fullcorpus) we have to import pandas
fullcorpus=pd.DataFrame({ #to frame the data we use the function of DataFrame() 
    'label':labelList,
    'body_list':textList
})
fullcorpus.head()

ValueError: ignored

In [0]:
print(len(labelList))
print(len(textList))

5571
5570

In [0]:
print(labelList[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [64]:

fullcorpus=pd.DataFrame({ #to frame the data we use the function of DataFrame() 
    'label':labelList[:-1],
    'body_list':textList
})
fullcorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [72]:
dataset=pd.read_csv("/content/SMSSpamCollection.tsv",sep="\t",header=None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!